{
  "app": {
    "guid": "aff53a5f-b288-46f2-b924-2713eb676edc"
  },
  "odata": {
    "exposeEntities": true,
    "exposeMetadata": false,
    "metadataSecurity": "Administrators",
    "entitiesSecurity": null,
    "expandCompositeKeys": false,
    "addDisplayFields": false
  },
  "security": {
    "token": "YWZmNTNhNWYtYjI4OC00NmYyLWI5MjQtMjcxM2ViNjc2ZWRj",
    "tokenExpiration": 3600,
    "tokenRecaptcha": null
  },
  "auth": {
    "type": "Token",
    "defaultDomain": null,
    "hostname": null,
    "autoSignUp": true,
    "socialLogin": false,
    "mutual": false,
    "socialNetworks": [],
    "autoSignUpSocial": false,
    "applicationProperties": {},
    "templateProperties": {
      "mutual": "false",
      "social": "false",
      "appid": "io.cronapp.apps.novostesteszero",
      "backend": "true",
      "theme": "Material",
      "authentication": "Token",
      "frontend": "true"
    }
  },
  "fixedTimeZone": true,
  "timeZone": "UTC",
  "timeZoneOffset": 0
}